*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .jim-header{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    background-color: #0f7595;
    //font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-family: Helvetica, Arial, sans-serif;
    .header-text{
      position: absolute;
      bottom: 5px;
      right: 15px;
      color: gray;
    }
  }
  .jim-content{

    width: 90%;
    margin: 1px auto;
    padding: 25px 0 5px 15px;
    background-color: #0f7595;
    font-size: 16px;
    position: relative;
     ul >li{
      list-style: none;
       color: #009900;
    }

  .skip{
    position: absolute;
    width: 100px;
    bottom: 5px;
    right: 15px;
  }
  }




